button.item {
	font-family: Lato,-apple-system,BlinkMacSystemFont,system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;
	cursor: pointer;
}

.ui.secondary.menu button.signin.item:hover {
	background-color: rgba(0,0,0,.05);
}

.ui.secondary.menu form.item {
	padding: 0;
}

.repository .repo-header .ui.huge.breadcrumb svg {
	top: 0px;
}
